$color-white: white;

$color-primary: rgb(43, 69, 139);
$color-primary-darken: darken($color-primary, 10%);

$color-secondary: rgb(85, 119, 212);
$color-secondary-lighten: lighten($color-secondary, 10%);