.small-button-square,
.button-square {
  color: $color-white;
  padding: 1rem;
  outline: none;
  border-radius: 2px;
  border: 2px solid $color-white;
  background-color: transparent;
  transition: transform 50ms ease-in;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.button-square {
  font-size: 1.3rem;
  margin-left: 5rem;
}

.small-button-square {
  margin: 1rem;
}
